
  
  @font-face {
    font-family: 'Neuemontreal';
    src: url('../fonts/neue_montreal/NeueMontreal-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  .font-neue {
    font-family: 'Neuemontreal', Arial, sans-serif;
  }